@import "tailwindcss";

@theme {
  --background: var(--color-slate-950);
  --foreground: var(--color-slate-100);
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family:
      ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
      "Courier New", monospace;
    user-select: none;
    overflow: hidden;
  }

  button {
    cursor: pointer;
  }
}

.napalm-overlay {
  position: absolute;
  inset: 0;
  background: rgba(255, 69, 0, 0.2);
  animation: flicker 0.1s infinite;
  pointer-events: none;
  height: 85%;
}

@keyframes flicker {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.2;
  }
}
